{% extends 'base2.html' %}

{% load static %}

{% load paciente_tags %}
{% block css %}
<link href="{% static "assets/plugins/select2/dist/css/select2.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/plugins/bootstrap-selectf/dist/css/bootstrap-select.css" %}" rel="stylesheet"
  type="text/css" />
<link rel="stylesheet" href="{% static "assets/plugins/dropify/dist/css/dropify.min.css" %}">
{% endblock %}

{% block contenido %}
<button id="paciente-espera"
  class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i
    class="icon-calendar text-white"></i></button>
<div class="row">
  <div id="seccion-consulta" class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="ribbon-wrapper card m-b-5">
          <div class="ribbon ribbon-manantial">
            Datos Personales
          </div>
          <div class="row ribbon-content">
            <div class="col-md-9 col-sm-12">
              <h6>Nombre: <strong>{{ consulta.paciente.nombres|add:" "|add:consulta.paciente.apellidos }}</strong>
              </h6>
            </div>
            <div class="col-md-3 col-sm-12 text-right">
              <h6>Edad: <strong>{{ consulta.paciente.fecha_nacimiento|edad }}</strong></h6>
            </div>
            <div class="col-md-12 col-sm-12">
              <h6>Progenitor: <strong>{{ consulta.paciente.progenitor }}</strong></h6>
            </div>
            <div class="col-md-8 col-sm-12">
              <h6>Ocupacion: <em>{{ consulta.paciente.ocupacion }}</em></h6>
            </div>
            <div class="col-md-4 col-sm-12 text-right">
              <h6>Fecha: <em>{{ consulta.fecha_consulta|date:"d/m/Y"}}</em></h6>
            </div>
            <div class="col-md-12">
              <h6>Procedencia: <em>{{ consulta.procedencia }}</em></h6>
            </div>
            <div class="col-md-12">
              <form id="form-guardar" action="{% url 'agenda-editar' pk=consulta.id %}" method="post" autocomplete=off>
                <div class="hide">
                  {{ form }}
                </div>
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                  {{ form.non_field_errors }}
                  <ul>
                    {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
                <div class="row">
                  <div class="col-md-12 b-t">
                    <small><strong>Motivo de Consulta</strong></small>
                    {{ form.motivo_consulta }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <small><strong>Antecedentes</strong></small>
                    {{ form.antecedentes }}
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <a href="{% url "agenda-listar" %}" class="btn btn-warning btn-sm" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Volver"><i class="fa fa-rotate-left"></i></a>
              <a href="{% url 'logout' %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"
                title="" data-original-title="Salir"><i class="mdi mdi-exit-to-app"></i></a>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-sm btn-info" id="historiac"
                data-url="{% url 'historiam-lista' pk=consulta.paciente.id id=consulta.id %}" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Historia Clinica"><i
                  class="icon-medical-history"></i></button>
              <button type="button" class="btn btn-sm btn-agenda text-white" id="recetar" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Receta"><i class="icon-medicine-2"></i></button>
              <a onclick="imprimirlista(event, this);" href="{% url 'reporterecetasegurob' pk=consulta.id %}"
                class="btn btn-sm btn-inverse" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Imprimir"><i class="fa fa-print"></i></a>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="ribbon-wrapper card m-b-5">
          <div class="ribbon ribbon-manantial">
            Control
          </div>
          <div class="row ribbon-content">
            <div class="col-md-12">
              <form id="controlform" action="{% url 'control-crear' %}" method="post">
                {% csrf_token %}
                {{ controlform.agenda}}
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group">
                      {{ controlform.detalle }}
                      <span class="input-group-btn"><button class="btn btn-manantial btn-sm text-white" type="submit"><i
                            class="fa fa-plus"></i></span></button>
                      <span class="input-group-btn"><button class="btn btn-info btn-sm"><i
                            class="fa fa-search"></i></span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="ribbon-wrapper card m-b-5">
          <div class="ribbon ribbon-manantial">
            Diagnostico
          </div>
          <div class="row ribbon-content">
            <div class="col-md-12">
              <form id="diagform" action="{% url 'diagnostico-crear' %}" method="post">
                {% csrf_token %}
                {{ diagform.agenda}}
                <div class="input-group">
                  {{ diagform.detalle }}
                  <span class="input-group-btn"><button class="btn btn-manantial btn-sm text-white" type="submit"><i
                        class="fa fa-plus"></i></button></span>
                </div>
              </form>
            </div>
            <div id="diagnosticos" class="col-md-12">
              <table class="table tabla table-sm">
                {% for item in consulta.diagnostico_set.all %}
                <tr>
                  <td width="2%">
                    <h6>></h6>
                  </td>
                  <td>
                    <h6>{{ item.detalle }}</h6>
                  </td>
                  <td class="text-right">
                    <form action="{% url 'diagnostico-eliminar' pk=item.id %}" method="post" class="form-eliminar-diag">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-close"></i></button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="ribbon-wrapper card m-b-5">
          <div class="ribbon ribbon-manantial">
            Descripcion Examen Clinico
          </div>
          <div class="row ribbon-content">
            <div class="col-md-12">
              <div class="comment-widgets examen-list">
                <!-- Comment Row -->
                {% for item in consulta.examenclinico_set.all %}
                <div class="d-flex flex-row comment-row">
                  {% if item.archivo %}
                    <div class="p-2"><img src="/media/{{ item.archivo }}" alt="user" width="200"></div>
                  {% else %}
                    <div class="p-2"><img src="/media/imagenes/no-image.png" alt="user" width="200"></div>
                  {% endif %}
                  <div class="comment-text w-100">
                    <h5>{{ item.fecha_archivo }}</h5>
                    <p class="m-b-5">
                      {{ item.detalle }}
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-manantial text-white" id="examen-clinico" data-toggle="tooltip"
                data-placement="top" title="" data-original-title="Examen">Registrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="ribbon-wrapper card m-b-5">
          <div class="ribbon ribbon-manantial">
            Tratamiento
          </div>
          <div class="row ribbon-content">
            <div class="col-md-12">
              <form id="tratform" action="{% url 'tratamiento-crear' %}" method="post">
                {% csrf_token %}
                {{ tratform.agenda}}
                <div class="row">
                  <div class="col-md-2">
                    {{ tratform.cantidad }}
                  </div>
                  <div class="col-md-10">
                    <div class="input-group">
                      {{ tratform.detalle }}
                      <span class="input-group-btn"><button class="btn btn-manantial btn-sm text-white" type="submit"><i
                            class="fa fa-plus"></i></span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="tratamientos" class="col-md-12">
              <table class="table table-sm table-striped tabla">
                {% for item in consulta.tratamiento_set.all %}
                <tr>
                  <td width="2%">
                    <h6>></h6>
                  </td>
                  <td width="4%">
                    <h6>{{ item.cantidad }}</h6>
                  </td>
                  <td>
                    <h6>{{ item.detalle }}</h6>
                  </td>
                  <td class="text-right">
                    <form action="{% url 'tratamiento-eliminar' pk=item.id %}" method="post" class="form-eliminar-trat">
                      {% csrf_token %}<button type="submit" class="btn btn-xs btn-danger" data-toggle="tooltip"
                      data-original-title="Eliminar"><i class="fa fa-close"></i></button></form>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-keyboard="true" id="receta-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-lg">
      <div id="contenido-modal" class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Recetar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <form id="recetaform" action="{% url 'receta-crear' %}" method="post">
            {% csrf_token %}
            {{ recetaform.agenda}}
            <div class="row">
              <div class="col-md-6">
                <small>Medicamento</small>
                {{ recetaform.medicamento }}
              </div>
              <div class="col-md-2">
                <small>Cantidad</small>
                {{ recetaform.cantidad }}
              </div>
              <div class="col-md-3">
                <small>Presentacion</small>
                {{ recetaform.presentacion }}
              </div>
              <div class="col-md-1 p-t-20">
                <button class="btn btn-success btn-sm" type="submit"><span class="input-group-btn"><i
                      class="fa fa-plus"></i></span></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small>Indicacion</small>
                {{ recetaform.indicacion }}
              </div>
            </div>
          </form>
          <div class="row">
            <div id="recetas" class="col-md-12">
              <table class="table table-sm table-striped tabla">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Presentacion</th>
                    <th>Indicacion</th>
                    <th></th>
                  </tr>
                </thead>
                {% for item in consulta.receta_set.all %}
                <tr>
                  <td>
                    <h6>{{ forloop.counter }}</h6>
                  </td>
                  <td>
                    <h6>{{ item.medicamento.nombre }}</h6>
                  </td>
                  <td>
                    <h6>{{ item.cantidad }}</h6>
                  </td>
                  <td>
                    <h6>{{ item.presentacion }}</h6>
                  </td>
                  <td>
                    <h6>{{ item.indicacion }}</h6>
                  </td>
                  <td class="text-right">
                    <form action="{% url 'receta-eliminar' pk=item.id %}" method="post" class="form-eliminar-receta">
                      {% csrf_token %}<button type="submit" class="btn btn-xs btn-danger" data-toggle="tooltip"
                        data-original-title="Eliminar"><i class="fa fa-close"></i></button></form>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="imprimirlista(event, this);" href="{% url 'reportereceta' pk=consulta.id %}"
            class="btn btn-inverse" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Imprimir"><i class="fa fa-print"></i></a>
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <div data-keyboard="true" id="examen-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-lg">
      <div id="contenido-modal" class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Descripcion Examen Clinico</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <form id="examenform" action="{% url 'examen-crear' %}" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %}
            {{ examenform.agenda}}
            <div class="row">
              <div class="col-md-8">
                <small><strong>Fecha del Archivo</strong></small>
                {{ examenform.fecha_archivo }}
                <small><strong>Detalle</strong></small>
                {{ examenform.detalle }}
              </div>
              <div class="col-md-4">
                {{ examenform.archivo }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-manantial waves-effect text-white">Guardar</button>
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
    {% block js %}
    <script src="{% static "assets/plugins/bootstrap-selectf/dist/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "assets/plugins/select2/dist/js/select2.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/dropify/dist/js/dropify.min.js" %}"></script>
    <script src="{% static "assets/paginas/agenda/agenda-editar.js" %}"></script>
    {% endblock %}